#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.cmp {
    display: flex;
    align-items: center;
    justify-content: center;
}

#days {
    font-size: 12vmin;
    text-align: center;
    font-family: 'Lato';
}

#heart {
    text-align: center;
}

img {
    width: 30vmin
}
